:root {
  --gray: #eee;
  --color-primary: #222;
  --header-font-size: 16px;
}

@media screen and (max-width: 767px) {
  :root {
    --header-font-size: 14px;
  }
}


@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.header {
  position: absolute;
  top: 24px;
  left: 24px;
  right: 24px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary);
  position: relative;
  font-family: var(--font-base);
  font-size: var(--header-font-size);
}

.header a::after {
  content: '';
  display: inline-block;
  height: 1px;
  bottom: -2px;
  left: 0;
  right: 100%;
  background: var(--color-primary);
  position: absolute;
  transition: right 0.3s ease-in-out;
}

.header a:hover::after {
  right: 24px;
}

.header svg path {
  stroke: var(--color-primary);
}

.marquee {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.marquee-block {
  display: flex;
  align-items: center;
  width: 100%;
  will-change: transform;
  animation: reveal 1s ease-in-out;
  position: relative;
}

.marquee {
  overflow: hidden;
}

p {
  margin: 18px;
}

.marquee-item {
  font-size: 88px;
  padding: 0 32px;
  color: var(--gray);
  transition: opacity 0.2s ease-in-out;
  position: relative;
  white-space: nowrap;
}

.marquee-item:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.marquee-item:hover .image {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

@media screen and (max-width: 768px) {
  .marquee-item {
    font-size: 44px;
  }
}

.image {
  width: 320px;
  height: 320px;
  z-index: -1;
  background-size: cover;
  position: absolute;
  left: calc(50% - 130px);
  top: calc(50% - 130px);
  opacity: 0;
  pointer-events: none;
}
